.Card{
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.5);
    background-color: #fff8f8;
  border: solid 2px #9b9a99;
    margin-top: 50px;
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

.avatar {
    margin-top: 10px;
    width: 60px;
    height: 62.3px;
    background-color: #fafafa;
}

.cardName{
    font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;
}

.cardEducation{
    font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #000000;

}

.cardBuyButton{
    font-family: HelveticaNeue;
  font-size: 20px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #0277bd;
}
