.Refer-admission-SOPs {
    width: 1139px;
    height: 52px;
    font-family: PTSans;
    font-size: 45px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #568ad8;
    padding-top: 37px;
}

.body-container {
    width: 1440px;
    height: 1054px;
    background-color: #ebebeb;
  }

