.NavHeader ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 10px;
}

.navbar {
    background-color: #ffffff;
    border: solid 1px #979797;
}

.NavHeader a {
    text-decoration: none;
    color: #0277bd;
}

.navbar-nav{
    display : inline-block !important;
}

.NavHeader a:hover,
.NavHeader a:active,
.NavHeader a.active {
    color: #fa923f;
}

.Sign-In {
    font-size: 22px;
    font-family: PTSans;
    font-weight: bold;
    color: #0277bd;
  }

.Upload-SOP {
    font-family: PTSans;
    font-size: 22px;
    font-weight: bold;
    color: #0277bd;
  }

.Sign-In a:hover{
    cursor: pointer;
}