.Heading
{
    text-align: center;
}

.LoginModalSquare {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    background-color: #d8d8d8;
    border: solid 1px #979797;
  }

  .LoginModalRectangle{
    width: 473px;
    height: 78px;
    background-color: #d8d8d8;
    border: solid 1px #0f0101;
    box-shadow: 1px 1px 1px black;
  }

  .Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
}